<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/splashscreen"
        android:label="@string/app_name"
        android:roundIcon="@drawable/splashscreen"
        android:supportsRtl="true"
        android:theme="@style/Theme.NecoMovie"
        tools:targetApi="31">
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Activity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Activity1" />
        <activity
            android:name=".SignUpActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Activity1" />
        <activity
            android:name=".SignInActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_Activity1"></activity>
        <activity
            android:name=".CategoryActivity"
            android:configChanges="orientation"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
            android:exported="false"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:exported="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
    </application>

</manifest>